<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <ul class="sidenav">
        <li><a href="/">Home</a></li>
        <li><a href="/product">Product</a></li>
        <li><a class="active" href="/category">Category</a></li>
        <li><a href="/subcategory">Subcategory</a></li>
    </ul>
    <div class="content">
        <h1>Add category</h1>
        <form action="/category" method="post">
            <fieldset>
                <legend>Form add new category</legend>
                <div class="form-add-category">
                    <div class="input-group">
                        <label>Name</label>
                        <input type="text" name="Name" maxlength="50" required>
                    </div>
                    <button>Create</button>
                </div>
            </fieldset>
        </form>
        <table id="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>rowguid</th>
                    <th>ModifiedDate</th>
                    <th>Option</th>
                </tr>
            </thead>
            <tbody>
                <% categories.forEach(category=> { %>
                    <tr>
                        <td>
                            <%= category.Name || "N/A" %>
                        </td>
                        <td>
                            <%= category.rowguid %>
                        </td>
                        <td>
                            <%= category.ModifiedDate %>
                        </td>
                        <td>
                            <div style="display: flex;">
                                <form action="/category/update/<%=category.ProductCategoryID %>" method="post">
                                    <button>Sửa</button>
                                </form>
                                <form action="/category/delete/<%=category.ProductCategoryID %>" method="post">
                                    <button>Xóa</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>

</body>

</html>