<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" /> -->
</head>

<body>
  <ul class="sidenav">
    <li><a href="/">Home</a></li>
    <li><a class="active" href="/product?page=1">Product</a></li>
    <li><a href="/category">Category</a></li>
    <li><a href="/subcategory">Subcategory</a></li>
    <li><a href="/report">Report</a></li>
  </ul>
  <form class="toggles">
    <!-- <label>
      <input type="checkbox" name="toggle[]" value="productid" checked>
      <span>Product ID</span>
    </label> -->
    <label>
      <input type="checkbox" name="toggle[]" value="name" checked>
      <span>Name</span>
    </label>
    <label>
      <input type="checkbox" name="toggle[]" value="productnumber" checked>
      <span>Product Number</span>
    </label>
    <label>
      <input type="checkbox" name="toggle[]" value="makeflag" checked>
      <span>Make Flag</span>
    </label>
    <label>
      <input type="checkbox" name="toggle[]" value="finishedgoodsflag" checked>
      <span>Finished Goods Flag</span>
    </label>
    <label>
      <input type="checkbox" name="toggle[]" value="color" unchecked>
      <span>Color</span>
    </label>
    <label>
      <input type="checkbox" name="toggle[]" value="safetystocklevel" checked>
      <span>Safety Stock Level</span>
    </label>
    <label>
      <input type="checkbox" name="toggle[]" value="reorderpoint" checked>
      <span>Reorder Point</span>
    </label>
    <label>
      <input type="checkbox" name="toggle[]" value="standardcost" checked>
      <span>Standard Cost</span>
    </label>
    <label>
      <input type="checkbox" name="toggle[]" value="listprice" checked>
      <span>List Price</span>
    </label>
    <label>
      <input type="checkbox" name="toggle[]" value="size" unchecked>
      <span>Size</span>
    </label>
    <label>
      <input type="checkbox" name="toggle[]" value="sizeunitmeasurecode" unchecked>
      <span>Size Unit Measure Code</span>
    </label>
    <label>
      <input type="checkbox" name="toggle[]" value="weightunitmeasurecode" unchecked>
      <span>Weight Unit Measure Code</span>
    </label>
    <label>
      <input type="checkbox" name="toggle[]" value="weight" unchecked>
      <span>Weight</span>
    </label>
    <label>
      <input type="checkbox" name="toggle[]" value="daystomanufacture" checked>
      <span>Days To Manufacture</span>
    </label>
    <label>
      <input type="checkbox" name="toggle[]" value="productline" unchecked>
      <span>Product Line</span>
    </label>
    <label>
      <input type="checkbox" name="toggle[]" value="class" unchecked>
      <span>Class</span>
    </label>
    <label>
      <input type="checkbox" name="toggle[]" value="style" unchecked>
      <span>Style</span>
    </label>
    <label>
      <input type="checkbox" name="toggle[]" value="productsubcategoryid" unchecked>
      <span>Product Subcategory ID</span>
    </label>
    <label>
      <input type="checkbox" name="toggle[]" value="productmodelid" unchecked>
      <span>Product Model ID</span>
    </label>
    <label>
      <input type="checkbox" name="toggle[]" value="sellstartdate" checked>
      <span>Sell Start Date</span>
    </label>
    <label>
      <input type="checkbox" name="toggle[]" value="sellenddate" unchecked>
      <span>Sell End Date</span>
    </label>
    <label>
      <input type="checkbox" name="toggle[]" value="discontinueddate" unchecked>
      <span>Discontinued Date</span>
    </label>
    <!-- <label>
      <input type="checkbox" name="toggle[]" value="rowguid" unchecked>
      <span>Rowguid</span>
    </label> -->
    <label>
      <input type="checkbox" name="toggle[]" value="modifieddate" unchecked>
      <span>Modified Date</span>
    </label>
  </form>

  <div class="content">
    <button onclick="openForm('new-product')" style="margin-left: 25px;"></i><i class="fa fa-plus"></i> New
      product</button>

    <div class="overlay"></div>

    <div class="form-popup" id="new-product">
      <form action="/product?page=<%=page%>" class="form-container" method="post">
        <h2 class="title">Add new product</h2>
        <div class="grid">
          <div class="input-group">
            <label><b>Name</b></label><br>
            <input type="text" name="Name" maxlength="50" required>
          </div>
          <div class="input-group">
            <label><b>Product Number</b></label><br>
            <input type="text" name="ProductNumber" maxlength="25" required>
          </div>
          <div class="input-group">
            <label><b>Make Flag</b></label>
            <select name="MakeFlag" required>
              <option value=1>Purchased</option>
              <option value=0>Manufactured</option>
            </select>
          </div>
          <div class="input-group">
            <label><b>Finished Goods Flag</b></label>
            <select name="FinishedGoodsFlag" required>
              <option value=1>Salable</option>
              <option value=0>Unsalable</option>
            </select>
          </div>
          <div class="input-group">
            <label><b>Color</b></label>
            <input type="text" name="Color" maxlength="15">
          </div>
          <div class="input-group">
            <label><b>Safety Stock Level</b></label>
            <input type="number" name="SafetyStockLevel" min="-32768" max="32767" value=2 required>
          </div>
          <div class="input-group">
            <label><b>Reorder Point</b></label>
            <input type="number" name="ReorderPoint" min="-32768" max="32767" value=1 required>
          </div>
          <div class="input-group">
            <label><b>Standard Cost</b></label>
            <input type="number" step="0.01" name="StandardCost" value=0 required>
          </div>
          <div class="input-group">
            <label><b>List Price</b></label>
            <input type="number" step="0.01" name="ListPrice" value=0 required>
          </div>
          <div class="grid6-4">
            <div class="input-group">
              <label><b>Size</b></label><br>
              <input type="text" name="Size" maxlength="5">
            </div>
            <div class="input-group">
              <label><b>Unit Measure</b></label><br>
              <select name="SizeUnitMeasureCode">
                <option value=""></option>
                <% unitMeasures.forEach(unitMeasure=> { %>
                  <option value=<%=unitMeasure.UnitMeasureCode %>>
                    <%=unitMeasure.Name%>
                  </option>
                  <% }) %>
              </select>
            </div>
          </div>
          <div class="grid6-4">
            <div class="input-group">
              <label><b>Weight</b></label>
              <input type="number" step="0.01" name="Weight">
            </div>
            <div class="input-group">
              <label><b>Unit Measure</b></label>
              <select name="WeightUnitMeasureCode">
                <option value=""></option>
                <% unitMeasures.forEach(unitMeasure=> { %>
                  <option value=<%=unitMeasure.UnitMeasureCode %>>
                    <%=unitMeasure.Name%>
                  </option>
                  <% }) %>
              </select>
            </div>
          </div>
          <div class="input-group">
            <label><b>Days to Manufacture</b></label>
            <input type="number" name="DaysToManufacture" value=0 required>
          </div>
          <div class="input-group">
            <label><b>Product Line</b></label>
            <select name="ProductLine">
              <option value=""></option>
              <option value="R">Road</option>
              <option value="M">Mountain</option>
              <option value="T">Touring</option>
              <option value="S">Standard</option>
            </select>
          </div>
          <div class="input-group">
            <label><b>Class</b></label>
            <select name="Class">
              <option value=""></option>
              <option value="H">High</option>
              <option value="M">Medium</option>
              <option value="L">Low</option>
            </select>
          </div>
          <div class="input-group">
            <label><b>Style</b></label>
            <select name="Style">
              <option value=""></option>
              <option value="W">Womens</option>
              <option value="M">Mens</option>
              <option value="U">Universal</option>
            </select>
          </div>
          <div class="input-group">
            <label><b>Product Subcategory ID</b></label>
            <select name="ProductSubcategoryID">
              <option value=""></option>
              <% subCategories.forEach(subCategory=> { %>
                <option value=<%=subCategory.ProductSubcategoryID %>>
                  <%=subCategory.Name%>
                </option>
                <% }) %>
            </select>
          </div>
          <div class="input-group">
            <label><b>Product Model ID</b></label>
            <select name="ProductModelID">
              <option value=""></option>
              <% models.forEach(model=> { %>
                <option value=<%=model.ProductModelID %>>
                  <%=model.Name%>
                </option>
                <% }) %>
            </select>
          </div>
          <div class="input-group">
            <label><b>Sell Start Date</b></label>
            <input type="date" name="SellStartDate" required>
          </div>
          <div class="input-group">
            <label><b>Sell End Date</b></label>
            <input type="date" name="SellEndDate">
          </div>
          <div class="input-group">
            <label><b>Discontinued Date</b></label>
            <input type="date" name="DiscontinuedDate">
          </div>
        </div>
        <div class="button-container">
          <button type="button" class="close" onclick="closeForm()">Close</button>
          <button type="submit" class="save">Save</button>
        </div>
      </form>
    </div>
    <script>
      function openForm(formId) {
        document.getElementById(formId).style.display = "block";
        document.querySelector(".overlay").style.display = "block"; // Hiển thị lớp phủ
      }

      function closeForm() {
        document.querySelectorAll('.form-popup').forEach(form => form.style.display = "none");
        document.querySelector(".overlay").style.display = "none"; // Ẩn lớp phủ
      }
    </script>

    <div class="table-container" style="margin-left: 20px">
      <table>
        <thead>
          <tr>
            <!-- <th class="productid">ProductID</th> -->
            <th class="productnumber">ProductNumber</th>
            <th class="name">Name</th>
            <th class="makeflag">MakeFlag</th>
            <th class="finishedgoodsflag">FinishedGoodsFlag</th>
            <th class="color hide">Color</th>
            <th class="safetystocklevel">SafetyStockLevel</th>
            <th class="reorderpoint">ReorderPoint</th>
            <th class="standardcost">StandardCost</th>
            <th class="listprice">ListPrice</th>
            <th class="size hide">Size</th>
            <th class="sizeunitmeasurecode hide">SizeUnitMeasureCode</th>
            <th class="weightunitmeasurecode hide">WeightUnitMeasureCode</th>
            <th class="weight hide">Weight</th>
            <th class="daystomanufacture">DaysToManufacture</th>
            <th class="productline hide">ProductLine</th>
            <th class="class hide">Class</th>
            <th class="style hide">Style</th>
            <th class="productsubcategoryid hide">ProductSubcategoryID</th>
            <th class="productmodelid hide">ProductModelID</th>
            <th class="sellstartdate">SellStartDate</th>
            <th class="sellenddate hide">SellEndDate</th>
            <th class="discontinueddate hide">DiscontinuedDate</th>
            <!-- <th class="rowguid">rowguid</th> -->
            <th class="modifieddate hide">ModifiedDate</th>
            <th>Option</th>
          </tr>
        </thead>
        <tbody>
          <% listProducts.forEach(product=> { %>
            <tr>
              <!-- <td class="productid">
                <%= product.ProductID || "N/A" %>
              </td> -->
              <td class="productnumber">
                <%= product.ProductNumber || "N/A" %>
              </td>
              <td class="name">
                <%= product.Name || "N/A" %>
              </td>
              <td class="makeflag">
                <span class="<%= product.MakeFlag ? 'manufacturing' : 'purchasing' %>">
                  <%= product.MakeFlag ? "Manufacturing" : "Purchasing" %>
                </span>
              </td>
              <td class="finishedgoodsflag">
                <span class="<%= product.FinishedGoodsFlag ? 'salable' : 'unsalable' %>">
                  <%= product.FinishedGoodsFlag ? "Salable" : "Unsalable" %>
                </span>
              </td>
              <td class="color hide">
                <%= product.Color || "N/A" %>
              </td>
              <td class="safetystocklevel">
                <%= product.SafetyStockLevel || "N/A" %>
              </td>
              <td class="reorderpoint">
                <%= product.ReorderPoint || "N/A" %>
              </td>
              <td class="standardcost">
                <%= product.StandardCost %>
              </td>
              <td class="listprice">
                <%= product.ListPrice %>
              </td>
              <td class="size hide">
                <%= product.Size || "N/A" %>
              </td>
              <td class="sizeunitmeasurecode hide">
                <%= product.SizeUnitMeasureCode || "N/A" %>
              </td>
              <td class="weightunitmeasurecode hide">
                <%= product.WeightUnitMeasureCode || "N/A" %>
              </td>
              <td class="weight hide">
                <%= product.Weight || "N/A" %>
              </td>
              <td class="daystomanufacture">
                <%= product.DaysToManufacture%>
              </td>
              <td class="productline hide">
                <%= product.ProductLine || "N/A" %>
              </td>
              <td class="class hide">
                <%= product.Class || "N/A" %>
              </td>
              <td class="style hide">
                <%= product.Style || "N/A" %>
              </td>
              <td class="productsubcategoryid hide">
                <%= product.ProductSubcategoryID || "N/A" %>
              </td>
              <td class="productmodelid hide">
                <%= product.ProductModelID || "N/A" %>
              </td>
              <td class="sellstartdate">
                <%= product.SellStartDate ? new Date(product.SellStartDate).toLocaleDateString() : "N/A" %>
              </td>
              <td class="sellenddate hide">
                <%= product.SellEndDate ? new Date(product.SellEndDate).toLocaleDateString() : "N/A" %>
              </td>
              <td class="discontinueddate hide">
                <%= product.DiscontinuedDate ? new Date(product.DiscontinuedDate).toLocaleDateString() : "N/A" %>
              </td>
              <!-- <td class="rowguid">
                <%= product.rowguid || "N/A" %>
              </td> -->
              <td class="modifieddate hide">
                <%= product.ModifiedDate ? new Date(product.ModifiedDate).toLocaleDateString() : "N/A" %>
              </td>
              <td>
                <div style="display: flex;">
                  <div>
                    <button onclick="openForm('update-product-<%= product.ProductID %>')">Update</button>
                  </div>
                  <div class="form-popup" id="update-product-<%= product.ProductID %>">
                    <form action="/product/update/<%= product.ProductID%>?page=<%=page%>" class="form-container"
                      method="post">
                      <h2 class="title">Update product</h2>
                      <div class="grid">
                        <div class="input-group">
                          <label><b>Product ID</b></label><br>
                          <input type="number" name="ProductID" value="<%= product.ProductID %>" disabled>
                        </div>
                        <div class="input-group">
                          <label><b>Name</b></label><br>
                          <input type="text" name="Name" maxlength="50" value="<%= product.Name %>" required>
                        </div>
                        <div class="input-group">
                          <label><b>Product Number</b></label><br>
                          <input type="text" name="ProductNumber" maxlength="25" value="<%= product.ProductNumber %>"
                            required>
                        </div>
                        <div class="input-group">
                          <label><b>Make Flag</b></label>
                          <select name="MakeFlag">
                            <option value=1>Purchased</option>
                            <option value=0>Manufactured</option>
                          </select>
                        </div>
                        <div class="input-group">
                          <label><b>Finished Goods Flag</b></label>
                          <select name="FinishedGoodsFlag" required>
                            <option value=1>Salable</option>
                            <option value=0>Unsalable</option>
                          </select>
                        </div>
                        <div class="input-group">
                          <label><b>Color</b></label>
                          <input type="text" name="Color" maxlength="15" value="<%= product.Color %>">
                        </div>
                        <div class="input-group">
                          <label><b>Safety Stock Level</b></label>
                          <input type="number" name="SafetyStockLevel" min="-32768" max="32767"
                            value="<%= product.SafetyStockLevel %>" required>
                        </div>
                        <div class="input-group">
                          <label><b>Reorder Point</b></label>
                          <input type="number" name="ReorderPoint" min="-32768" max="32767"
                            value="<%= product.ReorderPoint %>" required>
                        </div>
                        <div class="input-group">
                          <label><b>Standard Cost</b></label>
                          <input type="number" step="0.01" name="StandardCost" value="<%= product.StandardCost %>"
                            required>
                        </div>
                        <div class="input-group">
                          <label><b>List Price</b></label>
                          <input type="number" step="0.01" name="ListPrice" value="<%= product.ListPrice %>" required>
                        </div>
                        <div class="grid">
                          <div class="input-group">
                            <label><b>Size</b></label><br>
                            <input type="text" name="Size" maxlength="5" value="<%= product.Size %>">
                          </div>
                          <div class="input-group">
                            <label><b>Unit Measure</b></label><br>
                            <select name="SizeUnitMeasureCode">
                              <option value=""></option>
                              <% unitMeasures.forEach(unitMeasure=> { %>
                                <option value=<%=unitMeasure.UnitMeasureCode %>>
                                  <%=unitMeasure.Name%>
                                </option>
                                <% }) %>
                            </select>
                          </div>
                        </div>
                        <div class="grid">
                          <div class="input-group">
                            <label><b>Weight</b></label>
                            <input type="number" step="0.01" name="Weight" value="<%= product.Weight %>">
                          </div>
                          <div class="input-group">
                            <label><b>Unit Measure</b></label>
                            <select name="WeightUnitMeasureCode">
                              <option value=""></option>
                              <% unitMeasures.forEach(unitMeasure=> { %>
                                <option value=<%=unitMeasure.UnitMeasureCode %>>
                                  <%=unitMeasure.Name%>
                                </option>
                                <% }) %>
                            </select>
                          </div>
                        </div>
                        <div class="input-group">
                          <label><b>Days to Manufacture</b></label>
                          <input type="number" name="DaysToManufacture" value="<%= product.DaysToManufacture %>"
                            required>
                        </div>
                        <div class="input-group">
                          <label><b>Product Line</b></label>
                          <select name="ProductLine">
                            <option value=""></option>
                            <option value="R">Road</option>
                            <option value="M">Mountain</option>
                            <option value="T">Touring</option>
                            <option value="S">Standard</option>
                          </select>
                        </div>
                        <div class="input-group">
                          <label><b>Class</b></label>
                          <select name="Class">
                            <option value=""></option>
                            <option value="H">High</option>
                            <option value="M">Medium</option>
                            <option value="L">Low</option>
                          </select>
                        </div>
                        <div class="input-group">
                          <label><b>Style</b></label>
                          <select name="Style">
                            <option value=""></option>
                            <option value="W">Womens</option>
                            <option value="M">Mens</option>
                            <option value="U">Universal</option>
                          </select>
                        </div>
                        <div class="input-group">
                          <label><b>Product Subcategory ID</b></label>
                          <select name="ProductSubcategoryID">
                            <option value=""></option>
                            <% subCategories.forEach(subCategory=> { %>
                              <option value=<%=subCategory.ProductSubcategoryID %>>
                                <%=subCategory.Name%>
                              </option>
                              <% }) %>
                          </select>
                        </div>
                        <div class="input-group">
                          <label><b>Product Model ID</b></label>
                          <select name="ProductModelID">
                            <option value=""></option>
                            <% models.forEach(model=> { %>
                              <option value=<%=model.ProductModelID %>>
                                <%=model.Name%>
                              </option>
                              <% }) %>
                          </select>
                        </div>
                        <div class="input-group">
                          <label><b>Sell Start Date</b></label>
                          <input type="date" name="SellStartDate" value="<%= product.SellStartDate %>" required>
                        </div>
                        <div class="input-group">
                          <label><b>Sell End Date</b></label>
                          <input type="date" name="SellEndDate" value="<%= product.SellEndDate %>">
                        </div>
                        <div class="input-group">
                          <label><b>Discontinued Date</b></label>
                          <input type="date" name="DiscontinuedDate" value="<%= product.DiscontinuedDate %>">
                        </div>
                      </div>
                      <div class="button-container">
                        <button type="button" class="close" onclick="closeForm()">Close</button>
                        <button type="submit" class="save">Save</button>
                      </div>
                    </form>
                  </div>
                  <form action="/product/delete/<%= product.ProductID %>?page=<%=page%>" method="post">
                    <button class="delete">Delete</button>
                  </form>
                </div>
              </td>
            </tr>
            <% }) %>
        </tbody>
      </table>
    </div>
    <div class="pagination-component">
      <div class="pagination-anim">
        <button id="prev-page" aria-label="Previous Page" title="Go To Previous Page"></button>
        <div>
          <span>Page</span>
          <ul>
            <li>1</li>
          </ul>
          <span id="page">of <%= Math.ceil(numOfProduct / 10) %></span>
        </div>
        <button id="nxt-page" aria-label="Next Page" title="Go To Next Page"></button>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function () {
      let $form = $('.toggles');

      function toggleColumn(event) {
        let $checkbox = $(event.target);
        let value = $checkbox.val();
        let $target = $(`th.${value}, td.${value}`);

        if ($checkbox.is(':checked')) {
          $target.removeClass('hide').addClass('show');
        } else {
          $target.removeClass('show').addClass('hide');
        }
      }
      // Listen for checkbox change event
      $form.on('change', toggleColumn);
    });
  </script>
  <script>
    const paginationContainer = document.querySelector(".pagination-anim");
    const previousPage = document.getElementById("prev-page");
    const nextPage = document.getElementById("nxt-page");
    console.log()
    let currentPage = 1;
    const totalNoOfPages = Math.ceil(numOfProduct / 10);

    let isDebouncing = false;
    const debounceTime = 500;

    // Hàm debounce để tránh việc click quá nhanh
    const debounce = (func, delay) => {
      let timeoutId;
      return (...args) => {
        clearTimeout(timeoutId);
        timeoutId = setTimeout(() => {
          func.apply(this, args);
        }, delay);
      };
    };

    // Hàm để chuyển trang và cập nhật UI
    const navigatePage = (isNext) => {
      const container = paginationContainer.querySelector("div ul");
      const oldLiEle = container.querySelector("li");

      // Tạo phần tử li mới để hiển thị số trang
      const newLiEle = document.createElement("li");
      newLiEle.textContent = currentPage;

      // Cập nhật dữ liệu trang và thêm vào container
      paginationContainer.setAttribute("data-to", isNext ? "next" : "previous");

      if (isNext) {
        container.appendChild(newLiEle);
      } else {
        container.insertBefore(newLiEle, oldLiEle);
      }

      // Xử lý khi animation kết thúc
      newLiEle.addEventListener(
        "animationend",
        () => {
          container.removeChild(oldLiEle);
          paginationContainer.removeAttribute("data-to");
        },
        { once: true }
      );
    };

    // Xử lý sự kiện khi nhấn nút "Previous"
    previousPage.addEventListener(
      "click",
      debounce(() => {
        // Giảm số trang hiện tại, quay lại trang cuối nếu vượt quá
        currentPage = currentPage - 1 >= 1 ? currentPage - 1 : totalNoOfPages;
        navigatePage(false);
      }, debounceTime)
    );

    // Xử lý sự kiện khi nhấn nút "Next"
    nextPage.addEventListener(
      "click",
      debounce(() => {
        // Tăng số trang hiện tại, quay lại trang đầu nếu vượt quá
        currentPage = currentPage + 1 <= totalNoOfPages ? currentPage + 1 : 1;
        navigatePage(true);
      }, debounceTime)
    );
  </script>


</body>

</html>