<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <ul class="sidenav">
    <li><a href="/">Home</a></li>
    <li><a class="active" href="/product">Product</a></li>
    <li><a href="/category">Category</a></li>
    <li><a href="/subcategory">Subcategory</a></li>
  </ul>

  <div class="content">
    <button onclick="openForm()"><i class="fa fa-plus"></i> New product</button>

    <div class="overlay"></div>

    <div class="form-popup">
      <form action="/product" class="form-container">
        <h2 class="title">Add new product</h2>
        <div class="grid">
          <div class="input-group">
            <label><b>Name</b></label><br>
            <input type="text" name="Name" required>
          </div>
          <div class="input-group">
            <label><b>Product Number</b></label><br>
            <input type="text" name="ProductNumber" required>
          </div>
          <div class="input-group">
            <label><b>Product Number</b></label><br>
            <input type="text" name="ProductNumber" required>
          </div>
          <div class="input-group">
            <label><b>Product Number</b></label><br>
            <input type="text" name="ProductNumber" required>
          </div>
        </div>
        <button type="button" class="close" onclick="closeForm()">Close</button>
        <button type="submit" class="save">Save</button>
      </form>
    </div>
    <script>
      function openForm() {
        document.querySelector(".form-popup").style.display = "block";
        document.querySelector(".overlay").style.display = "block"; // Hiển thị lớp phủ
      }

      function closeForm() {
        document.querySelector(".form-popup").style.display = "none";
        document.querySelector(".overlay").style.display = "none"; // Ẩn lớp phủ
      }
    </script>

    <table>
      <thead>
        <tr>
          <th>ProductID</th>
          <th>Name</th>
          <th>ProductNumber</th>
          <th>MakeFlag</th>
          <th>FinishedGoodsFlag</th>
          <th>Color</th>
          <th>SafetyStockLevel</th>
          <th>ReorderPoint</th>
          <th>StandardCost</th>
          <th>ListPrice</th>
          <th>Size</th>
          <th>SizeUnitMeasureCode</th>
          <th>WeightUnitMeasureCode</th>
          <th>Weight</th>
          <th>DaysToManufacture</th>
          <th>ProductLine</th>
          <th>Class</th>
          <th>Style</th>
          <th>ProductSubcategoryID</th>
          <th>ProductModelID</th>
          <th>SellStartDate</th>
          <th>SellEndDate</th>
          <th>DiscontinuedDate</th>
          <th>rowguid</th>
          <th>ModifiedDate</th>
        </tr>
      </thead>
      <tbody>
        <% listProducts.forEach(product=> { %>
          <tr>
            <td>
              <%= product.ProductID || "N/A" %>
            </td>
            <td>
              <%= product.Name || "N/A" %>
            </td>
            <td>
              <%= product.ProductNumber || "N/A" %>
            </td>
            <td>
              <%= product.MakeFlag ? "Yes" : "No" %>
            </td>
            <td>
              <%= product.FinishedGoodsFlag ? "Yes" : "No" %>
            </td>
            <td>
              <%= product.Color || "N/A" %>
            </td>
            <td>
              <%= product.SafetyStockLevel || "N/A" %>
            </td>
            <td>
              <%= product.ReorderPoint || "N/A" %>
            </td>
            <td>
              <%= product.StandardCost %>
            </td>
            <td>
              <%= product.ListPrice %>
            </td>
            <td>
              <%= product.Size || "N/A" %>
            </td>
            <td>
              <%= product.SizeUnitMeasureCode || "N/A" %>
            </td>
            <td>
              <%= product.WeightUnitMeasureCode || "N/A" %>
            </td>
            <td>
              <%= product.Weight || "N/A" %>
            </td>
            <td>
              <%= product.DaysToManufacture%>
            </td>
            <td>
              <%= product.ProductLine || "N/A" %>
            </td>
            <td>
              <%= product.Class || "N/A" %>
            </td>
            <td>
              <%= product.Style || "N/A" %>
            </td>
            <td>
              <%= product.ProductSubcategoryID || "N/A" %>
            </td>
            <td>
              <%= product.ProductModelID || "N/A" %>
            </td>
            <td>
              <%= product.SellStartDate ? new Date(product.SellStartDate).toLocaleDateString() : "N/A" %>
            </td>
            <td>
              <%= product.SellEndDate ? new Date(product.SellEndDate).toLocaleDateString() : "N/A" %>
            </td>
            <td>
              <%= product.DiscontinuedDate ? new Date(product.DiscontinuedDate).toLocaleDateString() : "N/A" %>
            </td>
            <td>
              <%= product.rowguid || "N/A" %>
            </td>
            <td>
              <%= product.ModifiedDate ? new Date(product.ModifiedDate).toLocaleDateString() : "N/A" %>
            </td>
          </tr>
          <% }) %>
      </tbody>
    </table>
  </div>
</body>

</html>