<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <ul class="sidenav">
        <li><a href="/">Home</a></li>
        <li><a href="/product">Product</a></li>
        <li><a href="/category">Category</a></li>
        <li><a class="active" href="/subcategory">Subcategory</a></li>
    </ul>
    <div class="content">
        <h1 class="title">Add SubCategory</h1>
        <!-- <%= listCategories %> -->
        <form action="/subcategory" method="post" class="subcategory-form">
            <fieldset>
                <legend>Form add new SubCategory</legend>
                <div class="form-add-SubCategory">
                    <div class="input-group">
                        <label>Category</label>
                        <select name="ProductCategoryID">
                            <% listCategories.forEach(category=> { %>
                                <option value=<%=category.ProductCategoryID %>>
                                    <%=category.Name || "N/A" %>
                                </option>
                                <% }) %>
                        </select>
                    </div>
                    <div class="input-group">
                        <label>Name</label>
                        <input type="text" name="Name" required>
                    </div>
                    <button type="submit">Save</button>
            </fieldset>
        </form>
        <table id="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>rowguid</th>
                    <th>ModifiedDate</th>
                    <th>Category</th>
                    <th>Option</th>
                </tr>
            </thead>
            <tbody>
                <% subCategories.forEach(subCategory=> { %>
                    <tr>
                        <td>
                            <%= subCategory.Name || "N/A" %>
                        </td>
                        <td>
                            <%= subCategory.rowguid %>
                        </td>
                        <td>
                            <%= subCategory.ModifiedDate %>
                        </td>
                        <td>
                            <%= subCategory.ProductCategoryName || "N/A" %>
                        </td>
                        <td>
                            <div style="display: flex;">
                                <form action="#" method="post">
                                    <button>Sửa</button>
                                </form>
                                <form action="#" method="post">
                                    <button>Xóa</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>
</body>

</html>